{% extends "index.html" %}

{% block title %}
Panel użytkownika
{% endblock %}

{% block body %}
<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
    <div class="card text-center menuTile justify-content-center">
      <a href="/{{ user.id }}" class="clickableCard"></a>
      <p class="card-text menuTileText">Przeglądaj Escape Roomy</p>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card text-center menuTile justify-content-center">
      <a href="/{{ user.id }}/register_visit" class="clickableCard"></a>
      <p class="card-text menuTileText">Zapisz wizytę w Escape Roomie</p>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card text-center menuTile justify-content-center">
      <a href="/{{ user.id }}/visits  " class="clickableCard"></a>
      <p class="card-text menuTileText">Wyświetl zapisane wizyty</p>
    </div>
  </div>        
  <div class="col mb-4">
    <div class="card text-center menuTile justify-content-center">
      <a href="/{{ user.id }}" class="clickableCard"></a>
      <p class="card-text menuTileText">Wyświetl rekomendacje</p>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card text-center menuTile justify-content-center">
      <a href="/{{ user.id }}" class="clickableCard"></a>
      <p class="card-text menuTileText">Zarządzaj grupami</p>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card text-center menuTile justify-content-center">
      <a href="/{{ user.id }}" class="clickableCard"></a>
      <p class="card-text menuTileText">Wyloguj</p>
    </div>
  </div>
</div>

{% endblock %}
