{% extends "index.html" %}

{% block title %}
Nie można zarejestrować wizyty
{% endblock %}

{% block body %}

<div class="row">
    <div class="col pageTitle" style="margin-bottom:2vh;">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-text-c1">
                  {% for error in errors %}
                  <p>{{ error }}</p>
                  {% endfor %}
                </h5>
            </div>
        </div>
    </div>
</div>

{% include 'btn_return.html' %}

{% endblock %}
