{% extends "index.html" %}

{% block title %}
{{ room.name }}: Nowa wizyta
{% endblock %}

{% block body %}

<div class="row">

<div class="col"></div>
<div class="col-6">

  <form action="" method="post">
    <div class="form-group row">
      <label for="visitDate" class="col-sm-6 col-form-label">Data wizyty:</label>
      <div class="col-sm-6">
        <input type="date" class="form-control" id="visitDate" name="visitDate" required="true">
      </div>
    </div>
    <div class="form-group row">
      <label for="time" class="col-sm-6 col-form-label">Czas:</label>
      <div class="col-sm-6">
        <input type="number" min="1" max="60" step="1" class="form-control" id="time" name="time" required="true">
      </div>
    </div>
    <div class="form-group row">
      <label for="rating" class="col-sm-6 col-form-label">Ocena:</label>
      <div class="col-sm-6">
        <input type="number" min="1" max="5" step="1" class="form-control" id="rating" name="rating" required="true">
      </div>
    </div>
    <div class="form-group row" style="margin-top: 50px;">
      <div class="col-sm-6">
        <button type="submit" class="btn btn-block btn-outline-primary">Zatwierdź</button>
      </div>
      <div class="col-sm-6">
        <a href="/" class="btn btn-block btn-outline-secondary">Anuluj</a>
      </div>
    </div>
  </form>

</div>
<div class="col"></div>

</div>
{% endblock %}
