{% extends "index.html" %}

{% block title %}
{{ room.name }}: Nowa wizyta
{% endblock %}

{% block body %}
<div class="row">
  <div class="col" style="margin-bottom: 30px;">
    Wybierz grupę, z którą odbyłeś wizytę:
  </div>
</div>

<div class="row">
<div class="col">
  
<div class="list-group">
  {% for group in groups %}
  <a href="/register_visit/{{ room.id }}/{{ group.id }}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ group.name }}</h5>
    </div>
  </a>
  {% endfor %}
</div>

</div>
</div>

{% include 'btn_return.html' %}

{% endblock %}
